.intro {
  padding: 3rem 2rem;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #322f30;
    margin-bottom: 0.75rem;
  }
  p {
    margin-bottom: 0.5rem;
  }

  .info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    .info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      margin-bottom: 0.5rem;

      .info-title {
        display: flex;
        align-items: center;
        gap: 1rem;
        h3 {
          font-size: 1.25rem;
          font-weight: 700;
          color: #322f30;
        }
      }

      .icon {
        width: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 1rem 0.75rem;
  }

  .info-container {
    flex-direction: column;
    gap: 1rem !important;
  }
}
